*{
    margin: 0;
    padding: 0;
    color: #807979;
    font-size: 13px;
}
body{
    width: 976px;
    margin: 0 auto;
    /* text-align: center; */
    background-color: rgb(226, 250, 252);
    
    
}
.color::selection{
    background-color: pink;
    color: orange;
}
.color::-webkit-selection{
    background-color: pink;
    color: orange;
}

.title{
    margin: 0 auto;
    width: 240px;
    margin: 15px auto;
}
.title h1{
    float: left;
    font-size: 25px;
}
.title span{
    position: relative;
    top: 22px; ;
    float: left;
    font-size: 12px;
    margin: 0 4px;

}
.fenlei{
    margin: 6px 0;
}
.main .text1{
    letter-spacing: 2px;
    margin: 5px 0;
    text-align: center;
    line-height: 20px;
}
.main .text2{
    text-indent: 2em;
    line-height: 27px;
    letter-spacing: 4px;
}
.main-2 img{
    margin: 10px 0;
}
.main-2,.footer{
    width: 602px;
    margin: 40px auto;
}
/* 清除浮动 */
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
.int img{
    float: left;
    margin: 0 20px 0 0;
}
.footer .box2{
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
}
.footer .box2 a{
    padding: 0 5px;
    text-decoration: none;
    font-size: 17px;
}
.int-rigth .name{
    font-size: 15px;
    padding: 5px 0;
}
.int-rigth .text3{
    letter-spacing: 4px;
    font-size: 12px;
    font-style:italic
}
.box-width{
    /* width: 100px; */
}
.main .box-width{
    width: 496px;
    margin: 2px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main .box2-width{
    width: 641px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}